<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../col.css">
</head>
<body style="background-color: white">
	<div class="row">
		<div class="col-md-12 " style="background-color: blue ;height:100px">
	
	<h1 style="color: orange"><center> amritha social network</center></h1>
    </div></div>
	<h1 style="color: violet"> <%= re[0].name %> profile</h1>
	<div class="row">
		
     <div  class="col-md-3"> <div class="thumbnail" style=" height:250px; margin-left: 50px" >
		<img src="/" alt="..">
		<br><br><br><br><hr>
        <br>
     	
     		EMAIL:<%= re[0].email %><br>
     		USERNAME: <%= re[0].phnumber %>
     		
     	</div>
     </div>

<a href="/logout"><button  type="button" class="btn-primary">logout</button></a>
</body>
</html>