<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
	<h1>dash board<h1>


		<% for(i=0;i<result.length;i++){ %>
		 name:<%= result[i].name %>
		 email:<%= result[i].email %>
		 username:<%= result[i].username %>
      
        <% } %>
        <a href="/varun8/<%= user[0].username %>"><button  type="button" class="btn-primary">profile</button></a>
</body>
</html>